### Deliverable 1: Preprocessing the Data for a Neural Network

In [48]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [49]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [50]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [51]:
# Check value counts of STATUS
app_counts = application_df['STATUS'].value_counts()
app_counts

1    34294
0        5
Name: STATUS, dtype: int64

In [52]:
application_df = application_df.drop(['STATUS'],1)
application_df

C:\Users\freshsalmon\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N,36500179,0

In [53]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [55]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [56]:
# Categorical -> Numeric
application_dummies = pd.get_dummies(application_df)
application_dummies

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [57]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(["IS_SUCCESSFUL"],axis='columns').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [58]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [59]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = num_input_features, activation = 'relu')) 

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, input_dim = hidden_nodes_layer1, activation = 'relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer3, input_dim = hidden_nodes_layer2, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, input_dim=hidden_nodes_layer3, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 100)               5100

 dense_13 (Dense)            (None, 30)                3030

 dense_14 (Dense)            (None, 10)                310

 dense_15 (Dense)            (None, 1)                 11

=================================================================
Total params: 8,451
Trainable params: 8,451
Non-trainable params: 0
_________________________________________________________________

In [60]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer= 'adam', metrics = ['accuracy'])

In [61]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 1s 806us/step - loss: 0.5744 - accuracy: 0.7184
Epoch 2/100
804/804 [==============================] - 1s 777us/step - loss: 0.5562 - accuracy: 0.7285
Epoch 3/100
804/804 [==============================] - 1s 786us/step - loss: 0.5529 - accuracy: 0.7288
Epoch 4/100
804/804 [==============================] - 1s 811us/step - loss: 0.5507 - accuracy: 0.7322
Epoch 5/100
804/804 [==============================] - 1s 814us/step - loss: 0.5498 - accuracy: 0.7294
Epoch 6/100
804/804 [==============================] - 1s 810us/step - loss: 0.5490 - accuracy: 0.7322
Epoch 7/100
804/804 [==============================] - 1s 798us/step - loss: 0.5480 - accuracy: 0.7310
Epoch 8/100
804/804 [==============================] - 1s 808us/step - loss: 0.5481 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 1s 807us/step - loss: 0.5467 - accuracy: 0.7320
Epoch 10/100
804/804 [==============================] - 1s 787us/step - loss: 0.5460 - accuracy: 0.7332
Epoch 11/100
804/804 [==============================] - 1s 803us/step - loss: 0.5458 - accuracy: 0.7331
Epoch 12/100
804/804 [==============================] - 1s 803us/step - loss: 0.5452 - accuracy: 0.7331
Epoch 13/100
804/804 [==============================] - 1s 808us/step - loss: 0.5452 - accuracy: 0.7330
Epoch 14/100
804/804 [==============================] - 1s 798us/step - loss: 0.5439 - accuracy: 0.7344
Epoch 15/100
804/804 [==============================] - 1s 801us/step - loss: 0.5439 - accuracy: 0.7339
Epoch 16/100
804/804 [==============================] - 1s 813us/step - loss: 0.5438 - accuracy: 0.7345
Epoch 17/100
804/804 [==============================] - 1s 817us/step - loss: 0.5435 - accuracy: 0.7332
Epoch 18/100
804/804 [==============================] - 1s 810us/step - loss: 0.5431 - accuracy: 0.7344
Epoch 19/100
804/804 [==============================] - 1s 798us/step - loss: 0.5428 - accuracy: 0.7351
Epoch 20/100
804/804 [==============================] - 1s 804us/step - loss: 0.5427 - accuracy: 0.7342
Epoch 21/100
804/804 [==============================] - 1s 826us/step - loss: 0.5424 - accuracy: 0.7353
Epoch 22/100
804/804 [==============================] - 1s 804us/step - loss: 0.5419 - accuracy: 0.7350
Epoch 23/100
804/804 [==============================] - 1s 797us/step - loss: 0.5418 - accuracy: 0.7359
Epoch 24/100
804/804 [==============================] - 1s 795us/step - loss: 0.5418 - accuracy: 0.7360
Epoch 25/100
804/804 [==============================] - 1s 788us/step - loss: 0.5408 - accuracy: 0.7363
Epoch 26/100
804/804 [==============================] - 1s 811us/step - loss: 0.5410 - accuracy: 0.7349
Epoch 27/100
804/804 [==============================] - 1s 812us/step - loss: 0.5407 - accuracy: 0.7355
Epoch 28/100
804/804 [==============================] - 1s 791us/step - loss: 0.5405 - accuracy: 0.7360
Epoch 29/100
804/804 [==============================] - 1s 798us/step - loss: 0.5402 - accuracy: 0.7373
Epoch 30/100
804/804 [==============================] - 1s 797us/step - loss: 0.5404 - accuracy: 0.7367
Epoch 31/100
804/804 [==============================] - 1s 804us/step - loss: 0.5401 - accuracy: 0.7369
Epoch 32/100
804/804 [==============================] - 1s 802us/step - loss: 0.5403 - accuracy: 0.7358
Epoch 33/100
804/804 [==============================] - 1s 808us/step - loss: 0.5403 - accuracy: 0.7366
Epoch 34/100
804/804 [==============================] - 1s 788us/step - loss: 0.5398 - accuracy: 0.7366
Epoch 35/100
804/804 [==============================] - 1s 811us/step - loss: 0.5396 - accuracy: 0.7358
Epoch 36/100
804/804 [==============================] - 1s 791us/step - loss: 0.5394 - accuracy: 0.7363
Epoch 37/100
804/804 [==============================] - 1s 838us/step - loss: 0.5396 - accuracy: 0.7372
Epoch 38/100
804/804 [==============================] - 1s 792us/step - loss: 0.5392 - accuracy: 0.7355
Epoch 39/100
804/804 [==============================] - 1s 819us/step - loss: 0.5395 - accuracy: 0.7375
Epoch 40/100
804/804 [==============================] - 1s 788us/step - loss: 0.5392 - accuracy: 0.7367
Epoch 41/100
804/804 [==============================] - 1s 823us/step - loss: 0.5393 - accuracy: 0.7367
Epoch 42/100
804/804 [==============================] - 1s 796us/step - loss: 0.5384 - accuracy: 0.7374
Epoch 43/100
804/804 [==============================] - 1s 814us/step - loss: 0.5386 - accuracy: 0.7377
Epoch 44/100
804/804 [==============================] - 1s 807us/step - loss: 0.5386 - accuracy: 0.7365
Epoch 45/100
804/804 [==============================] - 1s 808us/step - loss: 0.5385 - accuracy: 0.7369
Epoch 46/100
804/804 [==============================] - 1s 790us/step - loss: 0.5379 - accuracy: 0.7369
Epoch 47/100
804/804 [==============================] - 1s 819us/step - loss: 0.5383 - accuracy: 0.7364
Epoch 48/100
804/804 [==============================] - 1s 804us/step - loss: 0.5385 - accuracy: 0.7373
Epoch 49/100
804/804 [==============================] - 1s 801us/step - loss: 0.5379 - accuracy: 0.7364
Epoch 50/100
804/804 [==============================] - 1s 807us/step - loss: 0.5379 - accuracy: 0.7374
Epoch 51/100
804/804 [==============================] - 1s 793us/step - loss: 0.5377 - accuracy: 0.7370
Epoch 52/100
804/804 [==============================] - 1s 802us/step - loss: 0.5376 - accuracy: 0.7376
Epoch 53/100
804/804 [==============================] - 1s 828us/step - loss: 0.5374 - accuracy: 0.7379
Epoch 54/100
804/804 [==============================] - 1s 817us/step - loss: 0.5378 - accuracy: 0.7378
Epoch 55/100
804/804 [==============================] - 1s 793us/step - loss: 0.5376 - accuracy: 0.7375
Epoch 56/100
804/804 [==============================] - 1s 798us/step - loss: 0.5377 - accuracy: 0.7374
Epoch 57/100
804/804 [==============================] - 1s 783us/step - loss: 0.5376 - accuracy: 0.7362
Epoch 58/100
804/804 [==============================] - 1s 817us/step - loss: 0.5372 - accuracy: 0.7375
Epoch 59/100
804/804 [==============================] - 1s 804us/step - loss: 0.5373 - accuracy: 0.7375
Epoch 60/100
804/804 [==============================] - 1s 793us/step - loss: 0.5371 - accuracy: 0.7367
Epoch 61/100
804/804 [==============================] - 1s 823us/step - loss: 0.5375 - accuracy: 0.7358
Epoch 62/100
804/804 [==============================] - 1s 795us/step - loss: 0.5368 - accuracy: 0.7377
Epoch 63/100
804/804 [==============================] - 1s 807us/step - loss: 0.5366 - accuracy: 0.7378
Epoch 64/100
804/804 [==============================] - 1s 831us/step - loss: 0.5368 - accuracy: 0.7372
Epoch 65/100
804/804 [==============================] - 1s 807us/step - loss: 0.5368 - accuracy: 0.7374
Epoch 66/100
804/804 [==============================] - 1s 807us/step - loss: 0.5369 - accuracy: 0.7376
Epoch 67/100
804/804 [==============================] - 1s 786us/step - loss: 0.5367 - accuracy: 0.7367
Epoch 68/100
804/804 [==============================] - 1s 824us/step - loss: 0.5367 - accuracy: 0.7378
Epoch 69/100
804/804 [==============================] - 1s 816us/step - loss: 0.5363 - accuracy: 0.7373
Epoch 70/100
804/804 [==============================] - 1s 823us/step - loss: 0.5360 - accuracy: 0.7384
Epoch 71/100
804/804 [==============================] - 1s 818us/step - loss: 0.5367 - accuracy: 0.7380
Epoch 72/100
804/804 [==============================] - 1s 808us/step - loss: 0.5368 - accuracy: 0.7379
Epoch 73/100
804/804 [==============================] - 1s 816us/step - loss: 0.5363 - accuracy: 0.7374
Epoch 74/100
804/804 [==============================] - 1s 814us/step - loss: 0.5362 - accuracy: 0.7372
Epoch 75/100
804/804 [==============================] - 1s 812us/step - loss: 0.5359 - accuracy: 0.7376
Epoch 76/100
804/804 [==============================] - 1s 822us/step - loss: 0.5364 - accuracy: 0.7388
Epoch 77/100
804/804 [==============================] - 1s 812us/step - loss: 0.5359 - accuracy: 0.7378
Epoch 78/100
804/804 [==============================] - 1s 811us/step - loss: 0.5361 - accuracy: 0.7385
Epoch 79/100

804/804 [==============================] - 1s 796us/step - loss: 0.5363 - accuracy: 0.7376
Epoch 80/100
804/804 [==============================] - 1s 822us/step - loss: 0.5367 - accuracy: 0.7381
Epoch 81/100
804/804 [==============================] - 1s 824us/step - loss: 0.5359 - accuracy: 0.7378
Epoch 82/100
804/804 [==============================] - 1s 783us/step - loss: 0.5363 - accuracy: 0.7376
Epoch 83/100
804/804 [==============================] - 1s 786us/step - loss: 0.5356 - accuracy: 0.7377
Epoch 84/100
804/804 [==============================] - 1s 785us/step - loss: 0.5358 - accuracy: 0.7381
Epoch 85/100
804/804 [==============================] - 1s 791us/step - loss: 0.5359 - accuracy: 0.7381
Epoch 86/100
804/804 [==============================] - 1s 781us/step - loss: 0.5355 - accuracy: 0.7383
Epoch 87/100
804/804 [==============================] - 1s 791us/step - loss: 0.5354 - accuracy: 0.7384
Epoch 88/100
804/804 [==============================] - 1s 785us/step - loss: 0.5355 - accuracy: 0.7383
Epoch 89/100
804/804 [==============================] - 1s 818us/step - loss: 0.5355 - accuracy: 0.7396
Epoch 90/100
804/804 [==============================] - 1s 813us/step - loss: 0.5362 - accuracy: 0.7372
Epoch 91/100
804/804 [==============================] - 1s 806us/step - loss: 0.5351 - accuracy: 0.7388
Epoch 92/100
804/804 [==============================] - 1s 791us/step - loss: 0.5351 - accuracy: 0.7375
Epoch 93/100
804/804 [==============================] - 1s 792us/step - loss: 0.5357 - accuracy: 0.7380
Epoch 94/100
804/804 [==============================] - 1s 792us/step - loss: 0.5354 - accuracy: 0.7380
Epoch 95/100
804/804 [==============================] - 1s 781us/step - loss: 0.5354 - accuracy: 0.7381
Epoch 96/100
804/804 [==============================] - 1s 771us/step - loss: 0.5349 - accuracy: 0.7387
Epoch 97/100
804/804 [==============================] - 1s 804us/step - loss: 0.5347 - accuracy: 0.7392
Epoch 98/100
804/804 [==============================] - 1s 797us/step - loss: 0.5347 - accuracy: 0.7391
Epoch 99/100
804/804 [==============================] - 1s 801us/step - loss: 0.5350 - accuracy: 0.7383
Epoch 100/100
804/804 [==============================] - 1s 791us/step - loss: 0.5354 - accuracy: 0.7381

In [62]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5631 - accuracy: 0.7322 - 247ms/epoch - 921us/step
Loss: 0.5631217360496521, Accuracy: 0.7322449088096619

In [63]:
# Save results to an HDF5 file
nn.save("AlphabetSoupCharity_Optimization2.h5")